<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controler</servlet-name>
        <servlet-class>controlleur.controler</servlet-class>
        <init-param>
            <param-name>CreationDonnees</param-name>
            <param-value>controlleur.secondaires.CreationDonnees</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>controler</servlet-name>
        <url-pattern>/controler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>CreationDonnees</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Beans.CreationDonneesLocal</local>
        <ejb-link>macdo-ejb.jar#CreationDonnees</ejb-link>
    </ejb-local-ref>
</web-app>
