<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controler</servlet-name>
        <servlet-class>controlleur.controler</servlet-class>
        <init-param>
            <param-name>CreationDonnees</param-name>
            <param-value>controlleur.secondaires.CreationDonnees</param-value>
        </init-param>
        <init-param>
            <param-name>MainTop</param-name>
            <param-value>controlleur.secondaires.MainTop</param-value>
        </init-param>
        <init-param>
            <param-name>MenuGaucheCtrl</param-name>
            <param-value>controlleur.secondaires.MenuGaucheCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>Panier</param-name>
            <param-value>controlleur.secondaires.Panier</param-value>
        </init-param>
        <init-param>
            <param-name>CatalogueCtrl</param-name>
            <param-value>controlleur.secondaires.CatalogueCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>HomeCtrl</param-name>
            <param-value>controlleur.secondaires.HomeCtrl</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>controler</servlet-name>
        <url-pattern>/controler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>CreationDonnees</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Beans.CreationDonneesLocal</local>
        <ejb-link>macdo-ejb.jar#CreationDonnees</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionPanier</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Beans.GestionPanierLocal</local>
        <ejb-link>macdo-ejb.jar#GestionPanier</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCatalogue</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Beans.GestionCatalogueLocal</local>
        <ejb-link>macdo-ejb.jar#GestionCatalogue</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CreationDonnees1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Beans.CreationDonneesLocal</local>
        <ejb-link>macdo-ejb.jar#CreationDonnees</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCatalogue1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Beans.GestionCatalogueLocal</local>
        <ejb-link>macdo-ejb.jar#GestionCatalogue</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestionCatalogue2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Beans.GestionCatalogueLocal</local>
        <ejb-link>macdo-ejb.jar#GestionCatalogue</ejb-link>
    </ejb-local-ref>
</web-app>
