/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
/*.row.content {height: 675px}*/

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}


#catalogue{
    flex-direction: row;
    width: 100%;
}

.card{
    width: 250px; 
    height: 250px;
    border: none;
}

.card-body{
    display: middle;
    text-align: center;
}



.image{
    height: 50px;
}

#panier {
    float: right;
    width: 220px;



}

#titlePAnier{
    color: white;
}

#titlePAnier {

    height: 90px;
    background-color: #004812;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -wekbit-border-radius: 5px 5px 0 0;
    font-family: 'MuseoSlab700';
    font-size: 12px;
    font-weight: normal;
    line-height: 42px;
    text-transform: uppercase;
    position: relative;
    padding-top: 10px;
    z-index: 1;

}

#liste {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: left;
}

#total {
    background-color: #004812;
    padding: 5px 20px;
    text-align: left;
    color: white
}

#valider {
    background: yellow;
    -moz-border-radius: 0 0 5px 5px;
    -wekbit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    color: white;
    display: block;
    font-family: 'MuseoSlab900';
    font-size: 14px;
    line-height: 63px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}


/*--------------- CDI1804 --------------- by CL --------------- CDI1804 ---------------*/